[ghq]
  root = ~/go/src
  root = /mnt/c/.ghq
  root = ~/.ghq

[ghq "CODECOMMIT-URL"]
  vcs = git

[user]
  email = hasefumi23@gmail.com
  name = hasefumi23

[alias]
  ac = !git add -A . && git commit -av
  ad = add
  amd = commit --amend
  an = !git add . && git now && git push
  br = branch
  brs = branch -a
  ci = commit -v
  co = checkout
  d = diff
  di = diff --no-index
  pl = pull
  pf = push -f
  ps = push
  st = status -sb
  sw = switch
  lol = log --graph --decorate --pretty=oneline --abbrev-commit --date=relative
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --date=relative --all
  purge = !git remote prune origin && git branch --merged | grep -vE master$ | grep -v \"*\" | xargs git branch -d
  it = !git init && git commit -m "init" --allow-empty

[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
  insteadOf = "github:"

[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
  insteadOf = "gist:"

[core]
  editor = "nvim"
  pager = delta
  # pager = git-split-diffs --color | less -RFX
  excludesfile = ~/.gitignore_global
  quotepath = false

[color]
  ui = auto
  branch = auto
  diff = auto
  interactive = auto
  status = auto

[fetch]
  prune = true

[push]
  default = simple
  autoSetupRemote = true

[rebase]
  autostash = true
  autosquash = true

[pull]
	rebase = true

[interactive]
  diffFilter = delta --color-only

[delta]
  side-by-side = true
  line-numbers-left-format = ""
  line-numbers-right-format = "│ "
  syntax-theme = Nord
[secrets]
  providers = git secrets --aws-provider
  patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
  patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
  patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
  allowed = AKIAIOSFODNN7EXAMPLE
  allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[init]
  templatedir = ~/.git-templates/git-secrets
  defaultBranch = main
