[alias]
    brs = branch -a
    ac = !git add -A . && git commit -av
    ad = add
    br = branch
    ci = commit -v
    co = checkout
    pl = pull
    pf = push -f
    ps = push
    st = status -sb

[core]
	editor = vim

[color]
    ui = auto
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[ghq]
    root = /mnt/c/Users/fumi/.ghq
    root = /mnt/c/Users/fumi/lab

[push]
	default = simple

[user]
    email = hasefumi23@gmail.com
    name = hasefumi23
